.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 240px;
  background-color: #f6f6f9;
  overflow-x: hidden;

  .box {
    border: 1px solid black;
    border-radius: 8px;
    padding: max(5%, 12px);
    margin: 12px;
    background-color: white;
  }
}
